---
title: Character Progression
game: Heroes and Henchmen
description: Learn about character progression and leveling up.
---

{% extends "layouts/default.njk" %}

{% block content %}
<article class="cmp-container cmp-stack">
  <h1>
    Character Progression
  </h1>
  <p>
    Instead of leveling up like in other game systems, this game uses a sort of
    currency system for upgrading your character's stats and abilities over
    time. As you play the game, you will earn Experience Points that you can
    spend on upgrades and abilities.
  </p>

  <h2>
    Earning Experience Points
  </h2>
  <p>
    It is up to your GM to determine how and when to award <abbr
    title="Experience Points">XP</abbr>. Here are some suggestions for how to
    handle that.
  </p>
  <ul>
    <li>
      Reward individual players with XP when they make bold choices or solve
      your puzzles
    </li>
    <li>
      Reward all players for winning in combat or finishing a mission
    </li>
    <li>
      Set up an exchange rate of Pity Points to Experience Points, so that
      characters learn from failure and improve
    </li>
    <li>
      Some combination of the above
    </li>
  </ul>

  <h2>
    Spending Experience Points
  </h2>
  <p>
    There are no races or classes with specific skill trees in this game. Any
    character can learn any ability or increase any stat, but they must first
    meet the prerequisites.
  </p>
  <p>
    Each upgrade has a cost and prerequisites that must be met before it can be
    purchased. Those prerequisites can include minimum stat levels or previous
    upgrades in the tree having been purchased.
  </p>
  <p>
    As an example, you can upgrade the dice that you use for various stats, but
    it takes more XP to go from a d12 to a d20 than it does to go from a d4 to a
    d6.
  </p>
  <ul>
    <li>
      d4 to d6: 1 XP
    </li>
    <li>
      d6 to d8: 2 XP
    </li>
    <li>
      d8 to d10: 3 XP
    </li>
    <li>
      d10 to d12: 4 XP
    </li>
    <li>
      d12 to d20: 5 XP
    </li>
  </ul>

  <p>
    Check out the full list of upgrades and abilities in the <a
    href="../upgrades">upgrade shop</a>.
  </p>
</article>
{% endblock %}
