---
title: Characters
game: Heroes and Henchmen
description: See all of your Heroes and Henchmen characters.
---

{% extends "layouts/default.njk" %}

{% block content %}
<article class="cmp-container cmp-stack">
  <h1>
    Characters
  </h1>
  <p>
    See all the characters you have created for Heroes and Henchmen, or create
    new ones.
  </p>
  <div data-character-list></div>
  <div>
    <a href="../character-creator">
      Create a new character
    </a>
  </div>
</article>
{% endblock %}

{% block scripts %}
  <script src="/assets/js/characters.js" type="module"></script>
{% endblock %}
