---
title: Overview
game: Heroes and Henchmen
description: Get the overview of what the Heroes and Henchmen game system is all about.
---

{% extends "layouts/default.njk" %}

{% block content %}
<article class="cmp-container cmp-stack">
  <h1>
    Heroes and Henchmen
  </h1>
  <p>
    You undoubtedly have an origin story. One way or another, you discovered
    that you had some special ability, and now you're using that power to try to
    make a difference.
  </p>
  <p>
    You and your crew of fellow superheroes will work together to fight crime,
    defeat villains, and generally do superhero stuff.
  </p>
</article>
{% endblock %}
