---
title: Upgrades
game: Heroes and Henchmen
description: See all the available upgrades that you can choose from.
---

{% extends "layouts/default.njk" %}

{% block content %}
<article class="cmp-container cmp-stack">
  <h1>
    Upgrades
  </h1>
  <p>
    Trade in your Experience Points to buy upgrades for your character.
  </p>

  <h2>
    Stat Upgrades
  </h2>
  {% for upgrade in statUpgrades %}
    <article class="cmp-stack">
      <h3>{{ upgrade.name }}</h3>
      <p>
        {{ upgrade.description }}
      </p>
      <p>
        Cost: {{ upgrade.cost }} XP
      </p>
    </article>
  {% endfor %}

  <h2>
    Skill Upgrades
  </h2>
  {% for upgrade in skillUpgrades %}
    <article class="cmp-stack">
      <h3>{{ upgrade.name }}</h3>
      <p>
        {{ upgrade.description }}
      </p>
      <p>
        Cost: {{ upgrade.cost }} XP
      </p>
    </article>
  {% endfor %}
</article>
{% endblock %}
