---
title: Action Points
game: Spacedoor!
description: Learn how Action Points work for Spacedoor!
---

{% extends "layouts/default.njk" %}

{% block content %}
<article class="cmp-container cmp-stack">
  <h1>
    Action Points
  </h1>
  <p>
    This game uses Action Points (AP) as a meta resource that you use to improve
    rolls or use special abilities. You start each session with your character's
    maximum AP, which starts at 3, although you can buy upgrades to increase
    that max.
  </p>
  <p>
    During the game, you can spend AP to add to your own rolls or your allies'
    rolls. This is most useful for close situations, where you are one or two
    points away from success.
  </p>
  <p>
    You can also spend AP to use special abilities. In the
    <a href="../upgrades">upgrade shop</a>, if an ability requires AP to use, it
    will say so in its description.
  </p>
  <p>
    During gameplay, when you fail a roll, you earn 1 AP (unless you already had
    max AP). Your GM may also reward you with AP based on your actions, like
    winning a fight or negotiating your way out of danger.
  </p>
</article>
{% endblock %}
