---
title: Character Sheet
game: Spacedoor!
description: Use this character sheet for your Spacedoor! character.
---

{% extends "layouts/default.njk" %}

{% block content %}
<article class="cmp-container cmp-stack">
  <h1>
    Character Sheet
    <span data-character-name></span>
  </h1>
  <div class="cmp-character-sheet">
    <div class="cmp-character-sheet__computed-stats" data-computed-stats></div>
    <div class="cmp-character-sheet__stats" data-stats></div>
    <div class="cmp-character-sheet__skills" data-skills></div>
  </div>
</article>
{% endblock %}

{% block scripts %}
  <script>
    const AC_STAT = 'Cool';
    const HP_STAT = 'Tough';
  </script>
  <script src="/assets/js/character-sheet.js" type="module"></script>
{% endblock %}
