<header role="banner" class="cmp-container">
  <nav role="navigation" class="cmp-cluster cmp-cluster--between">
    <a href="/games">
      Other Games
    </a>
    <div class="cmp-cluster">
      <a href="/login" class="is-visible-logged-out">
        Log In
      </a>
      <a href="/account" class="is-visible-logged-in">
        Account
      </a>
    </div>
  </nav>
</header>
