<header role="banner" class="cmp-container">
  <nav role="navigation" class="cmp-cluster cmp-cluster--between">
    <a href="/games/heroes-and-henchmen">
      Heroes and Henchmen
    </a>
    <div class="cmp-cluster">
      <!-- <a href="/login" class="cmp-login-link">
        Log In
      </a>
      <a href="/account" class="cmp-account-link">
        Account
      </a> -->
    </div>
  </nav>
</header>
