<ul class="util-no-list-style util-margin-block-none">
  <li>
    <a href="/games/heroes-and-henchmen">
      Heroes and Henchmen
    </a>
  </li>
  <li>
    <a href="/games/heroes-and-henchmen/character-creation">
      Character Creation
    </a>
  </li>
  <li>
    <a href="/games/heroes-and-henchmen/character-progression">
      Character Progression
    </a>
  </li>
  <li>
    <a href="/games/heroes-and-henchmen/stats-and-skills">
      Stats and Skills
    </a>
  </li>
  <li>
    <a href="/games/heroes-and-henchmen/upgrades">
      Upgrades
    </a>
  </li>
  <li>
    <a href="/games/heroes-and-henchmen/gm-tips-and-tricks">
      GM Tips and Tricks
    </a>
  </li>
  <li class="is-visible-logged-in">
    <a href="/games/heroes-and-henchmen/characters">
      Characters
    </a>
    <ul class="util-no-list-style util-mis-md" data-character-list-nav></ul>
  </li>
</ul>
