<header role="banner" class="cmp-container">
  <nav role="navigation" class="cmp-cluster cmp-cluster--between">
    <a href="/">
      TTRPGOMG
    </a>
    <div class="cmp-cluster">
      <a href="/games/spacedoor">
        Spacedoor!
      </a>
      <a href="/games/heroes-and-henchmen">
        Heroes and Henchmen
      </a>
      <a href="/login" class="is-visible-logged-out">
        Log In
      </a>
      <a href="/account" class="is-visible-logged-in">
        Account
      </a>
    </div>
  </nav>
</header>
