<header role="banner" class="cmp-container">
  <nav role="navigation" class="cmp-cluster cmp-cluster--between">
    <a href="/">
      Eleventy Starter
    </a>
    <div class="cmp-cluster">
      <a href="/docs">
        Docs
      </a>
      <a href="/contact">
        Contact
      </a>
      <a href="/blog">
        Blog
      </a>
      <a href="https://github.com/dustinwhisman/eleventy-starter">
        GitHub
      </a>
      <a href="/login" class="cmp-login-link">
        Log In
      </a>
      <a href="/account" class="cmp-account-link">
        Account
      </a>
    </div>
  </nav>
</header>
