---
title: Bonus Actions
game: Spacedoor!
description: See all the bonus actions that you can buy.
---

{% extends "layouts/default.njk" %}
{%- from 'components/common/upgrade-card.njk' import upgradeCard -%}

{% block content %}
<article class="cmp-container cmp-stack">
  <h1>
    Bonus Actions
  </h1>
  <div class="cmp-upgrade-card__grid">
    {% for upgrade in bonusActions %}
      {{ upgradeCard({ headingLevel: 'h2', upgrade: upgrade }) }}
    {% endfor %}
  </div>
</article>
{% endblock %}
