---
title: Health Upgrades
game: Spacedoor!
description: See all the health upgrades that you can choose from.
---

{% extends "layouts/default.njk" %}
{%- from 'components/common/upgrade-card.njk' import upgradeCard -%}

{% block content %}
<article class="cmp-container cmp-stack">
  <h1>
    Health Upgrades
  </h1>

  <div class="cmp-upgrade-card__grid">
    {% for upgrade in healthUpgrades %}
      {{ upgradeCard({ headingLevel: 'h2', upgrade: upgrade }) }}
    {% endfor %}
  </div>
</article>
{% endblock %}
