---
title: Upgrades
game: Spacedoor!
description: See all the available upgrades that you can choose from.
---

{% extends "layouts/default.njk" %}
{%- from 'components/common/upgrade-card.njk' import upgradeCard -%}

{% block content %}
<article class="cmp-container cmp-stack">
  <h1>
    Upgrades
  </h1>
  <p>
    Trade in your Experience Points to buy upgrades for your character.
  </p>

  <h2>
    Stat Upgrades
  </h2>
  {% for stat, skills in stats %}
    <h3>
      {{ stat }}
    </h3>
    <div class="cmp-upgrade-card__grid">
      {% for upgrade in statUpgrades %}
        {% if stat == upgrade.stat %}
          {{ upgradeCard({ headingLevel: 'h4', upgrade: upgrade }) }}
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}

  <h2>
    Skill Upgrades
  </h2>
  {% for stat, skills in stats %}
    {% for skill in skills %}
      <h3>
        {{ skill }}
      </h3>
      <div class="cmp-upgrade-card__grid">
        {% for upgrade in skillUpgrades %}
          {% if skill == upgrade.skill %}
            {{ upgradeCard({ headingLevel: 'h4', upgrade: upgrade }) }}
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  {% endfor %}

  <h2>
    Health Upgrades
  </h2>
  <div class="cmp-upgrade-card__grid">
    {% for upgrade in healthUpgrades %}
      {{ upgradeCard({ headingLevel: 'h3', upgrade: upgrade }) }}
    {% endfor %}
  </div>

  <h2>
    Armor Upgrades
  </h2>
  <h3>
    Shields
  </h3>
  <div class="cmp-upgrade-card__grid">
    {% for upgrade in armorUpgrades %}
      {% if not upgrade.statusEffect and not upgrade.damageType %}
        {{ upgradeCard({ headingLevel: 'h4', upgrade: upgrade }) }}
      {% endif %}
    {% endfor %}
  </div>

  <h3>
    Status Effects
  </h3>
  <div class="cmp-upgrade-card__grid">
    {% for upgrade in armorUpgrades %}
      {% if upgrade.statusEffect %}
        {{ upgradeCard({ headingLevel: 'h4', upgrade: upgrade }) }}
      {% endif %}
    {% endfor %}
  </div>

  <h3>
    Damage Types
  </h3>
  <div class="cmp-upgrade-card__grid">
    {% for upgrade in armorUpgrades %}
      {% if upgrade.damageType %}
        {{ upgradeCard({ headingLevel: 'h4', upgrade: upgrade }) }}
      {% endif %}
    {% endfor %}
  </div>
</article>
{% endblock %}
