---
title: Skill Upgrades
game: Spacedoor!
description: See all the skill upgrades that you can choose from.
---

{% extends "layouts/default.njk" %}
{%- from 'components/common/upgrade-card.njk' import upgradeCard -%}

{% block content %}
<article class="cmp-container cmp-stack">
  <h1>
    Skill Upgrades
  </h1>
  <p>
    Upgrade skill dice or add permanent bonuses to skill checks.
  </p>

  {% for stat in stats %}
    {% for skill in stat.skills %}
      <h2>
        {{ skill.name }}
      </h2>
      <div class="cmp-upgrade-card__grid">
        {% for upgrade in skillUpgrades %}
          {% if skill.name == upgrade.skill %}
            {{ upgradeCard({ headingLevel: 'h3', upgrade: upgrade }) }}
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  {% endfor %}
</article>
{% endblock %}
