---
title: Stat Upgrades
game: Spacedoor!
description: See all the stat upgrades that you can choose from.
---

{% extends "layouts/default.njk" %}
{%- from 'components/common/upgrade-card.njk' import upgradeCard -%}

{% block content %}
<article class="cmp-container cmp-stack">
  <h1>
    Stat Upgrades
  </h1>
  <p>
    Upgrade stat dice or add permanent bonuses to core stat rolls.
  </p>

  {% for stat in stats %}
    <h2>
      {{ stat.name }}
    </h2>
    <div class="cmp-upgrade-card__grid">
      {% for upgrade in statUpgrades %}
        {% if stat.name == upgrade.stat %}
          {{ upgradeCard({ headingLevel: 'h3', upgrade: upgrade }) }}
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
</article>
{% endblock %}
