<header role="banner" class="cmp-container">
  <nav role="navigation" class="cmp-cluster cmp-cluster--between">
    <a href="/games/spacedoor">
      Spacedoor!
    </a>
    <div class="cmp-cluster">
      <a href="/games/spacedoor/character-creation">
        Character Creation
      </a>
      <a href="/games/spacedoor/character-progression">
        Character Progression
      </a>
      <a href="/games/spacedoor/stats-and-skills">
        Stats and Skills
      </a>
      <a href="/games/spacedoor/upgrades">
        Upgrade Shop
      </a>
      <a href="/games/spacedoor/gm-tips-and-tricks">
        GM Tips and Tricks
      </a>
      <!-- <a href="/login" class="cmp-login-link">
        Log In
      </a>
      <a href="/account" class="cmp-account-link">
        Account
      </a> -->
    </div>
  </nav>
</header>
