<ul class="util-no-list-style util-margin-block-none">
  <li>
    <a href="/games/spacedoor">
      Spacedoor!
    </a>
  </li>
  <li>
    <a href="/games/spacedoor/character-creation">
      Character Creation
    </a>
  </li>
  <li>
    <a href="/games/spacedoor/character-progression">
      Character Progression
    </a>
  </li>
  <li>
    <a href="/games/spacedoor/stats-and-skills">
      Stats and Skills
    </a>
  </li>
  <li>
    <a href="/games/spacedoor/upgrades">
      Upgrades
    </a>
    <ul class="util-no-list-style util-margin-block-none util-mis-md">
      <li>
        <a href="/games/spacedoor/upgrades/stats">
          Stat Upgrades
        </a>
      </li>
      <li>
        <a href="/games/spacedoor/upgrades/skills">
          Skill Upgrades
        </a>
      </li>
    </ul>
  </li>
  <li>
    <a href="/games/spacedoor/gm-tips-and-tricks">
      GM Tips and Tricks
    </a>
  </li>
  <li class="is-visible-logged-in">
    <a href="/games/spacedoor/characters">
      Characters
    </a>
    <ul class="util-no-list-style util-mis-md" data-character-list-nav></ul>
  </li>
</ul>
