<aside class="cmp-sidebar-grid__sidebar">
  {% include "components/spacedoor/links.njk" %}
</aside>

<aside class="cmp-sidebar-grid__sidebar--mobile">
  <details>
    <summary>Menu: Spacedoor!</summary>
    {% include "components/spacedoor/links.njk" %}
  </details>
</aside>
