<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block titleAndDescription %}
      <title>{{ renderData.title or title }} | {{ game or 'TTRPGOMG' }}</title>
      <meta name="description" content="{{ description }}">
    {% endblock %}

    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#202020">
    {% include "partials/icons.njk" %}

    {% block vendorStyles %}{% endblock %}
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% block pageStyles %}{% endblock %}
  </head>
  <body>
    <div class="cmp-spread">
      {% block header %}
        {% if game == 'Spacedoor!' %}
          {% include "components/spacedoor/header.njk" %}
        {% elseif game == 'Heroes and Henchmen' %}
          {% include "components/heroes-and-henchmen/header.njk" %}
        {% else %}
          {% include "components/header.njk" %}
        {% endif %}
      {% endblock %}
      <main role="main">
        {% block content %}
          {{ content | safe }}
        {% endblock %}
      </main>
      {% block footer %}{% endblock %}
    </div>
    {% include "partials/dark-mode-favicon.njk" %}
    <script src="/assets/js/auth-state.js" type="module"></script>
    {% block scripts %}{% endblock %}
    {% include "partials/service-worker.njk" %}
  </body>
</html>
