{% for stat in stats %}
  {% for skill in stat.skills %}
    <input type="hidden" name="{{ skill.name }}" value="{{ stat.name }}" data-skill>
  {% endfor %}
{% endfor %}
<div>
  <label for="character-name">
    Character Name
  </label>
  <input id="character-name" type="text" name="character-name" required>
</div>
{% for stat in stats %}
  <fieldset>
    <legend>
      {{ stat.name }}
    </legend>
    <div class="cmp-cluster">
      {% for dice in baseDice %}
        <div>
          <input id="{{ stat.name }}-{{ dice }}" type="radio" name="{{ stat.name }}" value="{{ dice }}" data-stat required>
          <label for="{{ stat.name }}-{{ dice }}">
            {{ dice }}
          </label>
        </div>
      {% endfor %}
    </div>
  </fieldset>
{% endfor %}
<div>
  <button type="submit">
    Create Character
  </button>
</div>
