<h2>
  How to Play
</h2>
<p>
  This is a tabletop role-playing game that is meant to be played by 4 to 6
  people, where one of them is the <abbr title="Game Manager">GM</abbr> who
  describes settings, sets up scenarios, and plays <abbr title="Non-Player
  Characters">NPCs</abbr>, and the other players play their own characters, or
  <abbr title="Player Characters">PCs</abbr>.
</p>
<p>
  In general, the GM will present the PCs with challenges to overcome, such as
  mysteries or puzzles, social conflicts, or combat, and the PCs will take
  actions, in character, to respond to those challenges. Whenever the success
  of an action is in question, the dice decide. The GM will ask for a roll,
  and the PC will roll dice based on their stats to determine the outcome.
</p>
<p>
  You'll need at least one set of polyhedral dice (or a digital dice roller),
  and it will help to have pencils and paper for note-taking and managing
  character sheets. If you have tokens or poker chips or anything like that,
  those will be useful for tracking purposes, but they aren't strictly
  necessary.
</p>
<p>
  For PCs, check out the <a href="./character-creation">character creation
  guide</a> to get started with building your character.
</p>
<p>
  For GMs, check out our <a href="./gm-tips-and-tricks">tips and tricks</a>
  for running a fun game.
</p>
