{% macro upgradeCard(params) %}
  <article class="cmp-upgrade-card" data-prereqs="{{ params.upgrade.prereqs | join("&&") }}">
    <{{ params.headingLevel }} class="cmp-upgrade-card__name">
      {{ params.upgrade.name }}
    </{{ params.headingLevel }}>
    <p class="cmp-upgrade-card__description">
      {{ params.upgrade.description }}
    </p>
    {% if params.upgrade.limit == 'infinite' %}
      <p class="cmp-upgrade-card__description">
        <em>
          There is no limit to how many times you can buy this upgrade.
        </em>
      </p>
    {% endif %}
    <p class="cmp-upgrade-card__cost">
      <span class="cmp-upgrade-card__cost-label">
        Cost:
      </span>
      <strong>
        {{ params.upgrade.cost }} XP
      </strong>
    </p>
  </article>
{% endmacro %}
