:root {
  // theme color settings using hsl
  --theme-hue: 230;
  --theme-saturation: 0%;
  --theme-background-brightness: 96%;
  --theme-foreground-brightness: 10%;
  --theme-hover-brightness: 35%;
  --theme-shadow-brightness: 60%;
  --theme-border-brightness: 60%;
  --background-color: hsl(var(--theme-hue, 0) var(--theme-saturation, 0) var(--theme-background-brightness, 96%));
  --foreground-color: hsl(var(--theme-hue, 0) var(--theme-saturation, 0) var(--theme-foreground-brightness, 10%));
  --hover-color: hsl(var(--theme-hue, 0) var(--theme-saturation, 0) var(--theme-hover-brightness, 35%));
  --button-shadow-color: hsl(var(--theme-hue, 0) var(--theme-saturation, 0) var(--theme-shadow-brightness, 60%));
  --border-color: hsl(var(--theme-hue, 0) var(--theme-saturation, 0) var(--theme-border-brightness, 20%));

  // font size settings
  --font-scale-ratio: 1.2;
  --default-font-size: 1rem;
  --font-size-md: var(--default-font-size);
  --font-size-sm: calc(var(--font-size-md) / var(--font-scale-ratio));
  --font-size-xs: calc(var(--font-size-sm) / var(--font-scale-ratio));
  --font-size-lg: calc(var(--font-size-md) * var(--font-scale-ratio));
  --font-size-xl: calc(var(--font-size-lg) * var(--font-scale-ratio));
  --font-size-xxl: calc(var(--font-size-xl) * var(--font-scale-ratio));
  --font-size-xxxl: calc(var(--font-size-xxl) * var(--font-scale-ratio));

  // fluid type settings
  --minimum-body-font-size: 1rem;
  --maximum-body-font-size: 1.5rem;
  --ideal-body-font-size: 2.5vw;

  // font family settings
  /* stylelint-disable max-line-length */
  --sans-serif-font-family: -apple-system, 'BlinkMacSystemFont', 'avenir next', 'avenir', 'segoe ui', 'helvetica neue', 'helvetica', 'Ubuntu', 'roboto', 'noto', 'arial', sans-serif;
  --serif-font-family: 'Iowan Old Style', 'Apple Garamond', 'Baskerville', 'Times New Roman', 'Droid Serif', 'Times', 'Source Serif Pro', serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --monospace-font-family: 'Consolas', 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', 'Monaco', 'Courier New', 'Courier', monospace;
  /* stylelint-enable max-line-length */

  // readability settings (line height and length)
  --heading-line-height: 1.2;
  --body-copy-line-height: 1.5;
  --default-max-width: 50rem;

  // font weight settings
  --heading-font-weight: 700;

  // box-shadow settings
  --shadow-color: var(--theme-hue) 10% 50%;
  --shadow-elevation-low:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 34%),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 34%),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 34%);
  --shadow-elevation-medium:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 36%),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 36%),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 36%),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 36%);
  --shadow-elevation-high:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 34%),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 34%),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 34%),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 34%),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 34%),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 34%),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 34%),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 34%);
}
